.Loading {
  color: rgb(26, 56, 138);
}

.Wait {
  color: rgb(221, 201, 18);
}

.Come {
  color: green;
  animation: clignote 2s linear infinite;
}

@keyframes clignote {
  50% {
    opacity: 0;
  }
}

.Truck {
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.Media {
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.NavBarre {
  box-shadow: 1px 1px 5px #c1c2c3;
}

.Inputtruck {
  height: 30%;
}

.LoginMargin {
  margin-right: 20%;
  margin-left: 20%;
}

.Logout {
  background: transparent;
  border: none !important;
}

.Timer {
  width: 10%;
  display: inline;
}

.FullScreenSave {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.Column {
  margin: 20px;
  box-shadow: 1px 1px 5px #c1c2c3;
  background: white;
}

.ButtonUp {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

.ModeChoice{
  color: black;
}
.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.characters {
  list-style: none;
  padding-left: 0;
}

.characters li {
  display: flex;
  align-items: center;
  border: solid 1px #d0d0d0;
  border-radius: .2em;
  padding: .5em .8em .5em .5em;
  margin-bottom: 0.2em;
}

.characters p {
  max-width: none;
  font-weight: bold;
  margin: 0;
}

.characters-thumb {
  overflow: hidden;
  flex-shrink: 0;
  width: 2em;
  height: 2em;
  background-color: #e8e8e8;
  padding: .5em;
  margin-right: .5em;
}

.characters-thumb img {
  display: block;
  width: 100%;
  height: auto;
}
